<div class="overlay"><h1>About Us</h1></div>

<!-- Static carousel -->
<div class="carousel-container" style="height: 50%;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
         <%= image_tag("img2.png", width: '100%', alt: 'Slide1', class: "img-responsive" ) %>
      </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<div align='center'>
  <%= link_to image_tag("logo.svg", class: "header-img"), root_path %>
</div>

<br>

<div class="content-container">
  <div class="paragraph">
    In 2014, our undergraduate admissions service handled almost three million applications from 700,000 UK, EU, and international students. We’re proud to have helped 512,000 students secure a full-time place at one of over 380 universities and colleges across the UK.

    <br>
    <br>

    We also provide information, advice, and admissions services for UK Conservatoires, for Initial Teacher Training (UCAS Teacher Training), taught postgraduate courses (UCAS Postgraduate), and for young people looking to move to a new school or college after they’ve taken their GCSEs (UCAS Progress). <br>
    <br>
    To help promote understanding of patterns in demand for higher education and admissions to university, we publish a growing volume of data and analysis, all of which is freely available to download and re-use from our Data and analysis pages. In our End of cycle data resources alone, there are 1.4 million data points available to download in PDF and .csv format, covering applicants, provision, and providers. <br>
    <br>
    Whilst our core business is admissions to full-time undergraduate education, our Corporate Strategy for 2015-2020 describes an exciting agenda to: <br>

    <ul>
      <li>provide more and better services for learners and those who support them</li>
      <li>ensure universities and colleges can efficiently recruit and select the students they want</li>
    </ul>


    This recognises there are many pathways to higher education. By embracing the wide perspective of the learner journey – which may take in an apprenticeship and employment – we can extend our support for non-traditional learners.
  </div>
</div>
