<h3 align='center' class='page-title'>I am a...</h1>
<br>
<ul>
    <!-- If student, go to student registration form -->
    <li><%= link_to "Student", new_user_registration_path %></li>
    <br>
    <!-- If referee, go to referee registration form -->
    <li><%= link_to "Referee", new_referee_registration_path %></li>
    <br>
    <!-- If institution, go to institution registration form -->
    <li><%= link_to "Institution", new_college_registration_path %></li>
</ul>
