<h1 align='center'>
    Home
</h1>
<hr>
<br>
<div align='center'>
  <% if user_signed_in? %>
  <%= link_to "Make an Application", new_application_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
