<h3 align='center'>I am a...</h1>
<br>
<ul>
    <!-- If student, go to student registration form -->
    <li><%= link_to "Student", new_user_registration_path, class: "btn btn-primary" %></li>
    <br>
    <!-- If staff, go to staff registration form -->
    <li><%= link_to "Staff member", new_staff_registration_path, class: "btn btn-primary" %></li>
    <br>
    <!-- If institution, go to institution registration form -->
    <li><%= link_to "Institution", new_user_registration_path, class: "btn btn-primary" %></li>
</ul>
