<!-- Page shown when a student has accepted an offer and views their application -->
<!-- Displays the details of the offer that they have accepted -->

<br>

<br>

<h3 align='center'>You have accepted the following offer</h3>

<br>

<br>

<div align='center'>
  College: <%= @offer.college.name %> <br>
  Course: <%= @offer.course_application.course.title %> <br>
  Offer: <%= @offer.offer_type %> <br>
  Details: <%= @offer.details %> <br>
</div>
