@import "bootstrap-sprockets";
@import "bootstrap";

.body-container{
  padding-top: 50px;
}

a {
    color: inherit;
}
.custom-form{
    padding-left: 20px;
}

.custom-title{
    font-weight: 300;
    font-size: 2em;
}

.course-title{
    font-weight: 500;
    font-size: 1.3em;
}

.article-title {
    font-weight: 700;
    font-size: 1.5em;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.course-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.badge{
    background-color: #CEF6F5;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 400;
}
