<h1 align='center'>Categories</h1>
<% if college_signed_in? %>
    <p align='center'><%= link_to "New Category", new_category_path, class: "btn btn-primary" %></p>
<% end %>
<hr>

<div class="content-container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>No. of Courses</th>
      </tr>
    </thead>
      <tbody>
        <% @categories.each do |cat| %>
          <tr>
            <td><%= link_to "#{cat.name}", category_path(cat) %></td>
            <td><%= pluralize(cat.courses.count, "course") %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
