<h2 align='center'><%= @category.name %></h2>
<hr>

<% @category_courses.each do |course| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well">
                <div align='center'>
                    <h4><%= link_to course.title, course_path(course) %></h4>
                    <h6><%= link_to course.college.name, college_path(course.college) %></h6>
                    <hr>
                    <p><%= truncate(course.description, length: 500) %></p>
                </div>
            </div>
        </div>
    </div>
<% end %>
