<!-- Footer to be displayed in all pages -->
<div class="content-container" style="padding-top: 100px">
  <div align='center'>
    <footer class="footer">
        <small>
          Mark Kerr | Future Prospects
        </small>
    </footer>
  </div>
</div> <br>
